body {
    background-color: lightblue;
}


/* ============ STARTSIDAN ==========*/
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.error-container {
    background-color: #ffe5e5;
    color: #542121;
    border: 1px solid #cc0000;
    border-radius: 8px;
    padding: 10px 16px;
    margin: 18px auto;
    max-width: 250px;
    text-align: center;
    font-weight: bold;
}

.date-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.room-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

}
.login-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.search-rooms-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.rooms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 15px 25px;
    text-align: center;
}

a {
   margin-top: 20px;
}
.empty-head {
    background: lightblue;
}

/* ============ KUNDFORMULÄR ==========*/

.customer-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.customer-contact-input {
    margin-top: 20px;
}


/* ============ BOKNINGSBEKRÄFTELSE ==========*/

.booking-summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

