<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hotellbokning</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<h1>Kundsida</h1>

<h2 th:text="'Välkommen ' + ${customer.getFirstName()}"></h2>
<table>
    <tr>
        <th>Bokning</th>
        <th>Rum</th>
        <th>Rumstyp</th>
        <th>Start datum</th>
        <th>Slut datum</th>
        <th>Avboka?</th>
        <th>Ändra Datum</th>

    </tr>
    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.getId()}"></td>
        <td th:text="${booking.getRoom().getRoomNr()}"></td>
        <td th:text="${booking.getRoom().getRoomType()}"></td>
        <td th:text="${booking.getStartDate()}"></td>
        <td th:text="${booking.getEndDate()}"></td>
        <td>
            <form th:action="@{/bookings/cancel/{id}(id=${booking.id})}" method="post">
                <button
                        th:if="${booking.status == activeStatus and !booking.datePassed()}"
                        th:id="'btn-' + ${booking.id}"
                        type="submit">
                        Avboka
                </button>
            </form>

                 <span
                         th:if="${booking.status != activeStatus and !booking.datePassed()}">
                    Avbokad
                </span>
                  <span th:if="${booking.datePassed()}">
                    Avslutad
                </span>

        </td>

        <td>
            <form th:action="@{/bookings/changedate/{id}(id=${booking.id})}" method="get">
                <button
                        th:if="${booking.status == activeStatus}"
                        th:id="'btn-' + ${booking.id}"
                        type="submit">
                    Ändra
                </button>


            </form>
        </td>
    </tr>

    <!--    <tr th:each="book : "></tr>-->
</table>

<br>
<form th:action="@{/customers/edit}" method="get">
    <button type="submit">Ändra uppgifter</button>
</form>
<br>
<a href="/">Till startsidan</a>
</body>
</html>