<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="customer-form-container">
    <h1>Ändra dina uppgifter</h1>
    <h2 th:text="'Konto ' + ${customer.email} "></h2>

    <form th:action="@{/customers/edit}"
          th:object="${customer}"
          method="post">

<!--        <div class="customer-contact-input">-->
<!--            <label >E-post: </label>-->
<!--            <label th:text="*{email}"></label>-->
<!--        </div>-->
            <!--            <input readonly type="text"-->
            <!--                   id="email"-->
            <!--                   name="email"-->
            <!--                   th:text="*{email}"-->
            <!--                   required>-->


        <div class="customer-contact-input">
            <label for="firstName">Förnamn: </label>
            <input type="text"
                   id="firstName"
                   name="firstName"
                   th:value="*{firstName}"
                   required>
        </div>

        <div class="customer-contact-input">
            <label for="lastName">Efternamn: </label>
            <input type="text"
                   id="lastName"
                   name="lastName"
                   th:value="*{lastName}"
                   required>

        </div>

        <div class="customer-contact-input">
            <label for="phoneNumber">Telefonnummer: </label>
            <input type="text"
                   id="phoneNumber"
                   name="phoneNumber"
                   th:value="*{phoneNumber}"
                   required>

        </div>

        <div class="customer-contact-input">
            <label for="password">Lösenord: </label>
            <input type="text"
                   id="password"
                   name="password">
        </div>
        <div class="customer-contact-input">
        <label for="newPassword">Nytt Lösenord: </label>
        <input type="text"
               id="newPassword"
               name="newPassword">
    </div>
        <button type="submit">Slutför ändringar</button>

    </form>
</div>
</body>
</html>