<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hotellbokning</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="search-container">
    <h1 th:text="${title}"></h1>
    <p th:text="${subtitle}"></p>
    <form th:action="@{/rooms/search}" method="get">

        <div class="date-row">
            <label>Incheckning</label>
            <input type="date" name="startDate">

            <label>Utcheckning</label>
            <input type="date" name="endDate">
        </div>

        <div class="room-row">
            <label>Rumstyp</label>
            <select name="roomType">
                <option value="SINGLE">Enkelrum</option>
                <option value="DOUBLE">Dubbelrum</option>
            </select>
        </div>

        <div th:if="${errorMessage}" class="error-container">
            <span th:text="${errorMessage}"></span>
        </div>

    <div class="search-rooms-button">
        <button type="submit">Sök lediga rum</button>
    </div>
    </form>


</div>

<br>

<div th:if="${activeCustomer == null}">
    <p th:if="${successMessage}" th:text="${successMessage}" style="color: green; text-align: center">
    </p>
    <form th:action="@{/customers/login}" th:object="${custumer}" method="post">
        <h1 class="login-row">Logga in</h1>
        <div class="login-row">
            <label>Användarnamn:</label>
            <input type="text" name="email">
        </div>

        <div class="login-row">
            <label>Lösenord:</label>
            <input type="password" name="password">
        </div>
        <small id="loginHelp" class="login-row text-danger" th:if="${loginError}" th:text="${loginError}" style="color:red"></small>
        <div class="login-row">
            <button type="submit">Logga in</button>
        </div>
    </form>
</div>

<div th:if="${activeCustomer != null}">
    <h2 th:text="'Inloggad som ' + ${activeCustomer.firstName}"></h2>

    <div class="login-row">
        <a th:href="@{/customers}">
            <button type="button">Min sida</button>
        </a>
        <a th:href="@{/customers/logout}">
            <button type="button">Logga ut</button>
        </a>
    </div>

</div>

</body>
</html>