<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hotellbokning</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="search-container">
    <h1 th:text="${title}"></h1>
    <p th:text="${subtitle}"></p>
    <form th:action="@{/rooms/search}" method="get">

        <div class="date-row">
            <label>Incheckning</label>
            <input type="date" name="startDate">

            <label>Utcheckning</label>
            <input type="date" name="endDate">
        </div>

        <div class="room-row">
            <label>Rumstyp</label>
            <select name="roomType">
                <option value="SINGLE">Enkelrum</option>
                <option value="DOUBLE">Dubbelrum</option>
            </select>
        </div>
        <button type="submit">Sök lediga rum</button>
    </form>
</div>

<br>

<div th:if="${activeCustomer == null}">
    <form th:action="@{/customers/login}" th:object="${custumer}" method="post">
        <h1 class="login-row">Logga in</h1>
        <div class="login-row">
            <label>Användarnamn:</label>
            <input type="text" name="email">
        </div>

        <div class="login-row">
            <label>Lösenord:</label>
            <input type="text" name="password">
        </div>
        <small id="loginHelp" class="login-row text-danger" th:if="${loginError}" th:text="${loginError}"></small>
        <div class="login-row">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<div th:if="${activeCustomer != null}">

    <h2 th:text="'Inloggad som ' + ${activeCustomer.firstName}"></h2>
    <a th:href="@{/customers}">
    <button type="button">Min sida</button>
    </a>
    <a th:href="@{/customers/logout}">
        <button type="button">logga ut</button>
    </a>
</div>

</body>
</html>