<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hotellbokning</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<h1>Sidan för instälningar</h1>
<table>
    <tr>
        <th>Booking</th>

    </tr>
    <tr th:each="bookings : ${booking}">
        <td th:text="${bookings.startDate}"></td>
        <td th:text="${bookings.price}"></td>
        <td th:text="${bookings.isActive}"></td>
    </tr>

    <!--    <tr th:each="book : "></tr>-->
</table>

<a href="/">Till startsidan</a>
</body>
</html>